version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      # This configuration enables Dependabot Security Updates, but does not cause churn for regular dependency updates.
      interval: "yearly"
      open-pull-requests-limit: 1
